<div class="card-group col-lg-12 mx-auto my-4">
  <div class="card">
    <img src="/assets/clement-helardot-95YRwf6CNw8-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <div class="buttons d-flex gap-2">
        <button class="btn btn-primary">Modifier</button>
        <button class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="/assets/clement-helardot-95YRwf6CNw8-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <div class="buttons d-flex gap-2">
        <button class="btn btn-primary">Modifier</button>
        <button class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="/assets/clement-helardot-95YRwf6CNw8-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <div class="buttons d-flex gap-2">
        <button class="btn btn-primary">Modifier</button>
        <button class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>
</div>
